.hero {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.hero .overlap-wrapper {
  background-color: var(--white);
  width: 1440px;
}

.hero .overlap {
  position: relative;
}

.hero .frame {
  display: flex;
  flex-direction: column;
  width: 1440px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}

.hero .motto {
  position: absolute;
  width: 931px;
  top: 197px;
  left: 64px;
  font-family: var(--title1-regular-font-family);
  font-weight: var(--title1-regular-font-weight);
  color: var(--white);
  font-size: var(--title1-regular-font-size);
  letter-spacing: var(--title1-regular-letter-spacing);
  line-height: var(--title1-regular-line-height);
  font-style: var(--title1-regular-font-style);
}

.hero .nav-bar {
  display: flex;
  width: 600px;
  align-items: center;
  justify-content: center;
  gap: 36px;
  padding: 16px;
  position: absolute;
  top: 52px;
  left: 470px;
  background-color: #ffffff4c;
  border-radius: 999px;
}

.hero .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: var(--body2-sbold-font-family);
  font-weight: var(--body2-sbold-font-weight);
  color: var(--white);
  font-size: var(--body2-sbold-font-size);
  letter-spacing: var(--body2-sbold-letter-spacing);
  line-height: var(--body2-sbold-line-height);
  white-space: nowrap;
  font-style: var(--body2-sbold-font-style);
}

.hero .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: var(--body2-reg-font-family);
  font-weight: var(--body2-reg-font-weight);
  color: var(--white);
  font-size: var(--body2-reg-font-size);
  letter-spacing: var(--body2-reg-letter-spacing);
  line-height: var(--body2-reg-line-height);
  white-space: nowrap;
  font-style: var(--body2-reg-font-style);
}

.hero .frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: absolute;
  top: 352px;
  left: 64px;
}

.hero .lihat-paket-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--white);
  border-radius: 8px;
}

.hero .lihat-paket {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: var(--body2-sbold-font-family);
  font-weight: var(--body2-sbold-font-weight);
  color: var(--primarysoft-green);
  font-size: var(--body2-sbold-font-size);
  letter-spacing: var(--body2-sbold-letter-spacing);
  line-height: var(--body2-sbold-line-height);
  white-space: nowrap;
  font-style: var(--body2-sbold-font-style);
}

.hero .nav-bar-2 {
  display: flex;
  width: 212px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px;
  position: relative;
  background-color: var(--primarysoft-green);
  border-radius: 8px;
}

.hero .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.hero .text-wrapper-3,
.hero .lihat-paket,
.hero .nav-bar-2 {
  cursor: pointer;
}

.hero {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 630px;
  background-color: #00000080;
  background-image: url(/img/hero.png);
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
}

.text-wrapper-3:hover {
  font-weight: 600;
  transition: 0.3s;
}

/* Mobile Wrapper */
.mobile-wrapper {
  display: none; /* Hide on desktop */
}

.nav-bar-mobile {
  display: flex;
  width: 428px;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--primarydark-green);
}

.nav-bar-mobile-expand-menu {
  display: none;
  position: fixed;
  flex-direction: column;
  background-color: var(--primarydark-green);
  font-family: var(--body2-sbold-font-family);
  width: 100%;
  padding: 24px;
  padding-top: 0px;
  text-align: left;
  color: white;
  z-index: 10;
}

.nav-bar-mobile-expand-menu p {
  margin: 16px 0;
  cursor: pointer;
}

.hero .white-logo {
  position: absolute;
  width: 89px;
  height: 67px;
  top: 48px;
  left: 64px;
  cursor: pointer;
}

.white-logo-mobile {
  position: relative;
  width: 42.51px;
  height: 32px;
}

.hamburger-icon {
  width: 30px;
  cursor: pointer;
}

.cross-icon {
  width: 30px;
  cursor: pointer;
}

/* Responsive Media Queries */
@media (max-width: 428px) {
  .hero {
    height: 850px;
  }

  .hero .white-logo {
    display: none;
  }
  /* Show mobile wrapper and hide desktop nav */
  .mobile-wrapper {
    display: block;
  }

  .nav-bar {
    display: none; /* Hide desktop nav on mobile */
  }

  .hero .motto {
    position: relative;
    width: 400px;
    top: 400px;
    left: 24px;
    flex: 1;
    align-self: stretch;
    margin-top: -1px;
    font-family: var(--title3-regular-font-family);
    font-weight: var(--title3-regular-font-weight);
    color: var(--white);
    font-size: var(--title3-regular-font-size);
    letter-spacing: var(--title3-regular-letter-spacing);
    line-height: var(--title3-regular-line-height);
    font-style: var(--title3-regular-font-style);
  }

  .hero .frame-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    top: 600px;
    left: 24px;
  }
  
  .hero .lihat-paket-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 16px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--white);
    border-radius: 8px;
  }

  .white-logo {
    width: 40px; /* Adjust logo size for mobile */
  }

  .hamburger-icon {
    width: 30px; /* Adjust menu icon size for mobile */
  }
}