:root {
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --grey: rgba(101, 101, 101, 1);
  --bg: rgba(236, 236, 236, 1);
  --secondaryyellow: rgba(184, 146, 61, 1);
  --primarysoft-green: rgba(0, 79, 74, 1);
  --primarydark-green: rgba(3, 44, 40, 1);
  --body4-sbold-font-family: "Inter", Helvetica;
  --body4-sbold-font-weight: 700;
  --body4-sbold-font-size: 9px;
  --body4-sbold-letter-spacing: 0px;
  --body4-sbold-line-height: 161.8000030517578%;
  --body4-sbold-font-style: normal;
  --body4-reg-font-family: "Inter", Helvetica;
  --body4-reg-font-weight: 400;
  --body4-reg-font-size: 9px;
  --body4-reg-letter-spacing: 0px;
  --body4-reg-line-height: 161.8000030517578%;
  --body4-reg-font-style: normal;
  --body3-sbold-font-family: "Inter", Helvetica;
  --body3-sbold-font-weight: 600;
  --body3-sbold-font-size: 12px;
  --body3-sbold-letter-spacing: 0px;
  --body3-sbold-line-height: 161.8000030517578%;
  --body3-sbold-font-style: normal;
  --body3-reg-font-family: "Inter", Helvetica;
  --body3-reg-font-weight: 400;
  --body3-reg-font-size: 12px;
  --body3-reg-letter-spacing: 0px;
  --body3-reg-line-height: 161.8000030517578%;
  --body3-reg-font-style: normal;
  --body2-sbold-font-family: "Inter", Helvetica;
  --body2-sbold-font-weight: 600;
  --body2-sbold-font-size: 16px;
  --body2-sbold-letter-spacing: 0px;
  --body2-sbold-line-height: 161.8000030517578%;
  --body2-sbold-font-style: normal;
  --body2-reg-font-family: "Inter", Helvetica;
  --body2-reg-font-weight: 400;
  --body2-reg-font-size: 16px;
  --body2-reg-letter-spacing: 0px;
  --body2-reg-line-height: 161.8000030517578%;
  --body2-reg-font-style: normal;
  --body1-sbold-font-family: "Inter", Helvetica;
  --body1-sbold-font-weight: 600;
  --body1-sbold-font-size: 20px;
  --body1-sbold-letter-spacing: 0px;
  --body1-sbold-line-height: 161.8000030517578%;
  --body1-sbold-font-style: normal;
  --title3-regular-font-family: "Archivo Black", Helvetica;
  --title3-regular-font-weight: 400;
  --title3-regular-font-size: 26px;
  --title3-regular-letter-spacing: 0px;
  --title3-regular-line-height: 161.8000030517578%;
  --title3-regular-font-style: normal;
  --title2-regular-font-family: "Archivo Black", Helvetica;
  --title2-regular-font-weight: 400;
  --title2-regular-font-size: 32px;
  --title2-regular-letter-spacing: 0px;
  --title2-regular-line-height: 161.8000030517578%;
  --title2-regular-font-style: normal;
  --title1-regular-font-family: "Archivo Black", Helvetica;
  --title1-regular-font-weight: 400;
  --title1-regular-font-size: 40px;
  --title1-regular-letter-spacing: 0px;
  --title1-regular-line-height: 161.8000030517578%;
  --title1-regular-font-style: normal;
  --shape-corner-small: 8px;
  --shape-corner-medium: 12px;
}