.card-104 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding-top: 50px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--bg);
  padding-bottom: 48px;
}

.text-wrapper-2-nov {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: var(--body2-sbold-font-family);
  font-weight: var(--body2-sbold-font-weight);
  color: var(--white);
  font-size: var(--body2-sbold-font-size);
  letter-spacing: var(--body2-sbold-letter-spacing);
  line-height: var(--body2-sbold-line-height);
  white-space: nowrap;
  font-style: var(--body2-sbold-font-style);
  cursor: pointer;
}

.text-wrapper-2-nov:hover {
  font-weight: 700;
}

.nav-bar-5 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--primarysoft-green);
  border-radius: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.image-row {
  display: flex;
  gap: 20px;
}

.image-item img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 500px;
  border-radius: 20px;
}

.centered-image {
  align-self: center;
}

@media (max-width: 428px) {
  .image {
    width: 295.21px;
    height: 418px;
    position: relative;
    object-fit: cover;
  }

  .image-item {
    width: 295.21px;
    height: 418px;
    position: relative;
    object-fit: cover;
  }
  .image-row {
    display: flex;
    flex-direction: column;
  }

  .card-104 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding-top: 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--bg);
    padding-bottom: 48px;
  }
  
}