 .card-101 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--bg);
    padding-bottom: 48px;
  }

  .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -0.5px;
    font-family: var(--body2-sbold-font-family);
    font-weight: var(--body2-sbold-font-weight);
    color: var(--white);
    font-size: var(--body2-sbold-font-size);
    letter-spacing: var(--body2-sbold-letter-spacing);
    line-height: var(--body2-sbold-line-height);
    white-space: nowrap;
    font-style: var(--body2-sbold-font-style);
  }
  
   .frame-10 {
    display: flex;
    flex-direction: column;
    width: 510px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }
  
   .frame-11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
   .text-wrapper-8 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: var(--title2-regular-font-family);
    font-weight: var(--title2-regular-font-weight);
    color: var(--primarysoft-green);
    font-size: var(--title2-regular-font-size);
    text-align: center;
    letter-spacing: var(--title2-regular-letter-spacing);
    line-height: var(--title2-regular-line-height);
    font-style: var(--title2-regular-font-style);
  }
  
   .text-wrapper-9 {
    position: relative;
    align-self: stretch;
    font-family: var(--body2-reg-font-family);
    font-weight: var(--body2-reg-font-weight);
    color: var(--grey);
    font-size: var(--body2-reg-font-size);
    text-align: center;
    letter-spacing: var(--body2-reg-letter-spacing);
    line-height: var(--body2-reg-line-height);
    font-style: var(--body2-reg-font-style);
  }
  
   .frame-12 {
    display: flex;
    width: 250px;
    align-items: center;
    gap: 8px;
    padding: 12px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--white);
    border-radius: 999px;
  }
  
   .text-wrapper-13 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--body2-reg-font-family);
    font-weight: var(--body2-reg-font-weight);
    color: var(--grey);
    font-size: var(--body2-reg-font-size);
    letter-spacing: var(--body2-reg-letter-spacing);
    line-height: var(--body2-reg-line-height);
    white-space: nowrap;
    font-style: var(--body2-reg-font-style);
  }
  
   .image {
    width: 565px;
    height: 800px;
    position: relative;
    object-fit: cover;
    margin-top: 48px;
    border-radius: 20px;
  }
  
   .nav-bar-5 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 16px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--primarysoft-green);
    border-radius: 8px;
  }
  