 .frame {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}

 .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 50px 100px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--primarydark-green);
}

 .main-div {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 67px;
}

 .white-logo-travel {
  position: absolute;
  width: 89px;
  height: 67px;
  top: 0;
  left: 0;
  cursor: pointer;
}

 .nav-bar-travel {
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: center;
  gap: 36px;
  padding: 16px;
  position: absolute;
  top: 4px;
  left: 370px;
  border-radius: 999px;
}

 .text-wrapper-200 {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: var(--body2-reg-font-family);
  font-weight: var(--body2-reg-font-weight);
  color: var(--white);
  font-size: var(--body2-reg-font-size);
  letter-spacing: var(--body2-reg-letter-spacing);
  line-height: var(--body2-reg-line-height);
  white-space: nowrap;
  font-style: var(--body2-reg-font-style);
  cursor: pointer;
}

 .text-wrapper-201 {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: var(--body2-sbold-font-family);
  font-weight: var(--body2-sbold-font-weight);
  color: var(--white);
  font-size: var(--body2-sbold-font-size);
  letter-spacing: var(--body2-sbold-letter-spacing);
  line-height: var(--body2-sbold-line-height);
  white-space: nowrap;
  font-style: var(--body2-sbold-font-style);
}

#packages-container {
  width: 100%;
}

/* General Hover Effect */
 .text-wrapper-200:hover {
  font-weight: 600;
  transition: 0.3s;
}

.nav-bar-mobile-expand-menu {
  display: none;
  position: fixed;
  flex-direction: column;
  background-color: var(--primarydark-green);
  font-family: var(--body2-sbold-font-family);
  width: 100%;
  padding: 24px;
  padding-top: 0px;
  text-align: left;
  color: white;
  z-index: 10;
  margin-top: 80px;
}

.nav-bar-mobile-expand-menu p {
  margin: 16px 0;
  cursor: pointer;
}

.white-logo-mobile {
  position: relative;
  width: 42.51px;
  height: 32px;
}

.hamburger-icon {
  width: 30px;
  cursor: pointer;
}

.cross-icon {
  width: 30px;
  cursor: pointer;
}

.mobile-wrapper {
  display: none;
}

.packages-selector-wrapper {
  width: 100%;
  overflow-x: hidden;
}

.components-wrapper {
  width: 100%;
}


/* Responsive Media Queries */
@media (max-width: 428px) {
  .nav-bar-mobile {
    position: fixed;
    top: 0; /* Distance from the top */
    left: 0; /* Distance from the left */
    z-index: 10;
    will-change: transform;
    display: flex;
    width: 428px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    flex: 0 0 auto;
    background-color: var(--primarydark-green);
  }
  .mobile-wrapper, .components-wrapper {
    display: block;
    width: 428px !important;
  }

  .frame {
    width: 428px !important;
  }


  .components-paket {
    margin-top: 80px;
  }

  .card {
    display: none;
  }

  .card-100 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 24px;
    position: relative;
    align-self: stretch;
    width: 428px;
    flex: 0 0 auto;
    background-color: var(--bg);
    margin-top: 80px;
  }

  .frame-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .text-wrapper-8 {
    position: relative !important;
    align-self: stretch !important;
    margin-top: -1px !important;
    font-family: "Archivo Black", Helvetica !important;
    font-weight: 400 !important;
    color: var(--primarysoft-green) !important;
    font-size: 20px !important;
    letter-spacing: 0 !important;
    line-height: 32.4px !important;
    text-align: center !important;
  }

  .text-wrapper-9 {
    text-align: center !important;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
  }

  .modal-content img {
    width: 100%;
    height: auto;
    display: block;
  }

  /* Close button */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
  }
}