.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
}

.home .overlap-wrapper {
  background-color: var(--white);
  width: 100%;
  /* height: 4286px; */
}

.home .frame {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

#packages-container {
  width: 100% !important;
}


/* Mobile responsiveness */
@media (max-width: 428px) {
  .home {
    width: 428px;
    height: auto;
    object-fit: contain;
  }

  .home .overlap-wrapper {
    width: 428px;
    height: auto;
    background-color: var(--white);
  }

  .home .frame {
    width: 428px;
    height: auto;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
  }

  .modal-content img {
    width: 100%;
    height: auto;
    display: block;
  }

  /* Close button */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
  }
}

