.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
}

.home .overlap-wrapper {
  background-color: var(--white);
  width: 1440px;
  /* height: 4286px; */
}

.home .frame {
  display: flex;
  flex-direction: column;
  width: 1440px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

#packages-container {
  width: 100% !important;
}




